<% layout('layouts/boilerplate')%>

    <head>
        <title>Forgot password</title>
        <link rel="stylesheet" href="/Forgotpass.css">
    </head>

    <div class="container d-flex justify-content-center align-items-center mt-5">
        <div class="row">
            <div class="col-md-6 offset-md-3 col-xl-4 offset-xl-4">
                <div class="card shadow">
                    <img src="/Social_media.png" class="card-img-top" />
                    <div class="card-body">
                        <div class="alert alert-info" role="alert" style="display: none;" id="alert"></div>
                        <h5 class="card-title">Enter your email below in order to receive an email containing a link to reset your password.</h5>
                        <span>or</span>
                        <a href="/user/login">Login</a>
                        <div class="mb-3">
                            <label class="form-label" for="email">Email</label>
                            <input class="form-control" type="text" id="emailInput" name="email" autofocus required>
                            <div class="valid-feedback">
                                Looks good!
                            </div>
                        </div>
                        <button class="btn btn-success btn-block" id="submitButton">Submit</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="/forgotPass.js"></script>